* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mt{
    margin-top: 99px !important;
}
div.container h2{
    padding-top: 50px;
}
.error_message{
    color: red;
}
.form_field, .name_form_field, .textfile, .error_message {
    display: block;
    
}

.form_field {
    padding-bottom: 16px;
    min-height: 90px;
}

.name_form_field {
    font-weight: 600;
    padding-bottom: 8px;
}
.textfile {
    min-width: 250px;
    height: 34px;
    margin-bottom: 6px;
    border-radius: 10px;
    border: 1px solid rgb(0,0,0,0.3);
    text-indent: 5px;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 52%;
}